@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

:root {
    --cor-principal: #242321;
    --cor-secundaria: rgb(255, 255, 255);
    --cor-destaque: #ffffff;
}

body {
    font-family: "Marcellus", serif;
    font-weight: 550;
    font-size: 23px;
    font-style: normal;
    background-color: rgb(192,181,166);
}

h1,
h2,
h5 {
    color: var(--cor-secundaria);
    font-weight: 400;
    font-size: 23;
}

footer a {
    color: var(--cor-principal);
}

footer a:hover {
    color: var(--cor-destaque);
}

.borda-personalizada {
    border: 5px solid #2a292a;
    border-radius: 60px;
}

.borda-personalizada rounded-circle  {
    border: 6px solid #2d2a2a;
}

.card-texto-escuro {
    background-color: rgb(144, 142, 144);
    color: rgb(0, 0, 0);
    padding: 30px;
    border: 5px solid #2a2a2a;
    border-radius: 60px;
    box-shadow: none;
    font-size: 21.5px;
    line-height: 1.5;
    text-align: left;
}

.card-body {
    margin-bottom: 60px;
}

.card {
    background-color: transparent;
    box-shadow: none;
    border: none;
    
}

.modal-body {
    background-color: #353334;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 25px;
    font-weight: 100;
}

.modal-content {
    background-color: #121112;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 25px;
}

.modal-title {
    background-color: #525052;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 25px;
}

.container {
    text-align: center;
}

.modal-title{
    font-size: 24px;
    text-align: center;
}

.titulo-loja {
    margin-top: 80px;
}

.img-borda-personalizada {
    border: 6px solid #313030;
}
